cycler==0.10.0
Cython==0.24.1
freeze==1.0.10
matplotlib==1.5.3
numpy==1.11.2
pandas==0.19.0
protobuf==3.0.0
pyparsing==2.1.9
python-dateutil==2.5.3
pytz==2016.7
scipy==0.18.1
six==1.10.0
tensorflow==2.5.0rc0
xlrd==1.0.0
